# Ignore the virtualenv stuffs
bin/
include/
lib/
share/

# Ignore Django databases, cache, and migrations
*.sqlite3
__pycache__/
migrations/

# Ignore minified files (used in production, not dev)
*.min.*

# Ignore binary images by default
*.png
