{% extends 'html/base.html' %}
{% load static %}
{% load staticfiles %}

{% block morehead %}
    <meta name="description" content="Consilium login">
    <meta name="author" content="vT">

    <title>Consilium Login</title>

    <!-- Custom styles for this template -->
    <link href="{% static 'login/cover.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <img src="{% static 'img/consilium_large_v2.png' %}" 
                 alt="consilium logotype">
            <p class="lead">My voice. My choice.</p>
            <form action="{% url 'login:auth' %}" method="post">
              {% csrf_token %}
              <div class="form-group{% if authfail  %} has-error{% endif %}">
                <input type="text" class="form-control"
                       name="username" 
                       placeholder="{% if authfail %}No such username/password{% else %}ID{% endif %}">
              </div>
              <div class="form-group{% if authfail  %} has-error{% endif %}">
                <input type="password" class="form-control" name="password" 
                       placeholder="{% if authfail %}Please try again{% else %}Password{% endif %}">
              </div>
              <button type="submit" class="btn-lg btn-primary max-width">Log In</button>
            </form>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>This site uses cookies.<br>
                If you do not consent to the use of
                the cookies, you cannot use Consilium. <br>
                If you do not use Consilium, you make the Deputy Speaker very
                sad. <br>
                You do not want to make the Deputy Speaker sad, do you?</p>
              <p>Consilium version:
                <a href="https://github.com/DrSLDR/consilium"> {{ version }}</a>
              </p>
            </div>
          </div>

        </div>

      </div>

    </div>  
{% endblock %}
