{% extends 'html/base.html' %}
{% load static %}
{% load staticfiles %}

{% block morehead %}
    <meta name="description" content="Consilium login">
    <meta name="author" content="vT">

    <title>Consilium - Inget Möte Pågår</title>

    <!-- Custom styles for this template -->
    <link href="{% static 'login/cover.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <div class="row">
              <a href="/logoff">
                <button type="button" class="close"
                        aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
              </a>
            </div>
            <img src="{% static 'img/consilium_large_v2.png' %}" 
                 alt="consilium logotype">
            <h3>Det pågår inget möte just nu</h3>
          </div>

          <div class="mastfoot">
          </div>

        </div>

      </div>

    </div>  
{% endblock %}
